body{
    background-color:rgba(233, 13, 13, 0.537);
    
}

.fltr {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.fltr:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.fltr:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.filter-buttons{
   padding-left: 500px;
}
.fltr{width: 90px;

    height: 40px;
    margin: 10px;
}
.menu-item{
    display: flex;
    
flex-wrap: wrap;
padding-left: 150px;
    
}
.blk{
    border-radius: 10px;
    padding-top: 10px;
background-color:#ff6666;
     font-family: arial;
  font-size: 15px;
  margin: 25px;
  width: 500px;
  height: 450px;
 
  text-align: center;
}
.img{
    border-radius: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 270px;
}